<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet" />
</head>
<body>
  <nav class="navbar">
    <ul class="nav-links">
      <li><a href="index.htm">Home</a></li>
      <li><a href="contact.htm">Contact</a></li>
    </ul>
  </nav>
  <main>
    <?hhp echo(content); ?>
  </main>
  <footer>
    <small>
      Copyright © 2026 tobil. All rights reserved.
    </small>
  </footer>
</body>
</html>
